@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #ffffff;
    box-sizing: border-box;
}
body{
    font-size: larger;
    font-family: Poppins;
    background-color: #141414;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    padding: 1.5rem;
}

.navbar h1{
    color: #db0000;    
    font-weight: 500;
    background: linear-gradient(to right, #db0000, #c26767); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .logo{
    display: flex;
    gap: 1rem;
}

.navbar ul{
    color: #ffffff;
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-right: 2rem; 
}

.navbar .right .nav a{
    text-decoration: none;
    color: inherit; /* Ensures the link inherits the color of the parent element */
    transition: color 0.3s ease;
}

.navbar .right .nav a:hover{
    color: #d82d2d;
}

.home{
    display: flex;
}
.home .left{
    display: flex;
    flex-direction: column;
    justify-content:left; 
    align-items: center;
    gap: 1rem;
    color: #ffffff;
}
.home h1{
    font-weight: 500;
    margin-top: 4rem;
    background: linear-gradient(to right, #db0000, #c26767); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#mid{
    display: flex;
    justify-content: center;
    font-size: larger;
    width: 70%;
    margin-left: 3rem;
}

.download{
    display: flex;
    gap: 2rem;
}

.button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.left .download button{
    background-color: #db0000;
    color: #ffffff;
    font-size: large;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    justify-content: end;
    width: 9rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.left .download button:hover{
    background-color: #d82d2d;
    transform: scale(1.05);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 10rem 5rem 7rem;
    gap: 2rem;
}

.about .right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .right img{
    transition: transform 0.3s ease;
}

.about .right img:hover{
    transform: scale(1.05);
}

.about .left{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-size: large;
}

.about h1{
    color: #db0000;
    font-weight: 500;
    background: linear-gradient(to right, #db0000, #c26767); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 5rem 10rem 5rem 10rem;
}

.skills h1{
    color: #db0000;    
    font-weight: 500;
    background: linear-gradient(to right, #db0000, #c26767); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-shrink: initial;
}

.skills li{
    background-color: #db0000;
    padding: 5px;
    border-radius: 0.5rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.skills li:hover{
    background-color: #d82d2d;
    transform: scale(1.05);
}

.experience{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience h1{
    font-weight: 500;
    background: linear-gradient(to right, #db0000, #c26767); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experience img{
    background-color: white;
    width: 100px;
    height: 100px;
    padding: 1rem;
    border-radius: 2rem;
    transition: transform 0.3s ease;
}

.experience img:hover{
    transform: scale(1.05);
}

.experience .company{
    padding: 2rem;
    display: flex;
    gap: 2rem;
    border: solid 2px;
    border-color: #db0000;
    border-radius: 2rem;
    font-size: medium;
}

.experience .company .left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience .company .right{
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-h1{
    margin-top: 4rem;
    color: #db0000;    
    font-weight: 500;
    text-align: center;
    background: linear-gradient(to right, #db0000, #c26767); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects{
    padding: 5rem;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    justify-content: center;
}

.project{
    font-size: medium;
    display: flex;   
    gap: 2rem;
    justify-content: center;
}

.project .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.project .left img{
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.project .left img:{
    transform: scale(1.05);
}

.project .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-color: #db0000;
    padding: 2rem;
    border-radius: 1rem;
    gap: 1rem;
    width: 40rem;
}

.project .right ul{
    list-style-type: square;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact h1{
    color: #db0000;    
    font-weight: 500;
    background: linear-gradient(to right, #db0000, #c26767); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 2rem;
}

.contact form input, .contact form textarea{
    border-radius:.5rem;
    font-size:medium;
    width: 30rem;
    padding: 1rem;
    border: 2px solid;
    border-color:#db0000;
    outline: none;
    background-color: #263238;
    font-family: Poppins;
}

.contact form button{
    background-color: #db0000;
    color: #ffffff;
    font-size: large;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    justify-content: end;
    width: 9rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact form button:hover{
    background-color: #d82d2d;
    transform: scale(1.05);
}

.contact form input:focus, .contact form textarea:focus{
    border-color: #d82d2d;
}


@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.home .right img {
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideOut {
    from {
        transform: translateY(100);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.home .left{
    animation: slideOut 1s ease-out forwards;
}

.footer{
    display: flex;
    justify-content: space-evenly;
}

.footer .quicklinks{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer .quicklinks h1{
    font-weight: 500;
    background: linear-gradient(to right, #db0000, #c26767); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.footer ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer ul li{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer ul li a{
    text-decoration: none;
}
